html,
body {
  background-color: rgb(0, 0, 0);
  height: 100%;
  padding: 0px 10%;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
h7,
label {
  color: aliceblue;
  font-family: 'Lexend Peta', sans-serif;
}

.projDescription {
  padding-top: 1em;
  font-size: smaller;
}
.svgArrows{padding-top:5px;}
.Project-name {
  font-size: larger;
  font-weight: lighter;
  text-decoration: none;
  color: white;
  margin-bottom: 3em;
}

.Project-name:hover {
  color: #6225e6;
  transition: 0.3s ease-out 0s
}

#pageContents {
  transition: opacity 1.5s ease-in-out;
  opacity: 0;
}

#pageContents.visible {
  opacity: 1;
  height: auto;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15em;
}

.titleName {
  font-size: 2.5em;
  text-align: center;
}

.portfolioTitle {
  font-size: 1.8em;
}

.contactmeContainer {
  display: flex;
  justify-content: center;
}

.heroGif {
  border-radius: 90%;
  overflow: hidden;
  width: 25em;
}

.titles {
  margin: 4em 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailMessageComponent {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.imgAlign {
  display: flex;
  justify-content: center;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  padding: 0em 1em;
}

.inputFields {
  margin: 0.7em;
  width: 210px;

}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 100%;
}

.cta {
  display: flex;
  justify-content: center;
  padding: 1px 5px;
  text-decoration: none;
  list-style: none;
  font-family: Poppins, sans-serif;
  font-size: 21px;
  color: white;
  background: #6225e6;
  transition: all 1s ease 0s;
  box-shadow: black 6px 6px 0px;
  transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: all 0.5s ease 0s;
  box-shadow: rgb(251, 198, 56) 10px 10px 0px;
  color: aliceblue;
  transition: 0.3s ease-out 0s
}

.cta span:nth-child(2) {
  transition: all 0.5s ease 0s;
  margin-right: 0px;
  display: flex;
}

.cta:hover span:nth-child(2) {
  transition: all 0.5s ease 0s;
  margin-right: 15px;
}

span {
  transform: skewX(15deg);
}

span:nth-child(2) {
  width: 20px;
  margin-left: 10px;
  position: relative;
  top: 12%;
}

path.one {
  transition: all 0.4s ease 0s;
  transform: translateX(-60%);
}

path.two {
  transition: all 0.5s ease 0s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: 1s ease 0.2s infinite normal none running color_anim;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: 1s ease 0.6s infinite normal none running color_anim;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: 1s ease 0.4s infinite normal none running color_anim;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: rgb(251, 198, 56);
  }

  100% {
    fill: white;
  }
}

.wrapper {
  display: flex;
}
.socialIcons
{
  width:10px;
  height:10px;
}
.socialIcons:hover{
  color: #6225e6;
 transform: scale(1.3);
}
.Section {
  background-color: rgb(0, 0, 0);

  margin-bottom: 10px;
  cursor: pointer;
  padding: 2em 0em;
  height: 100%;
}


.meContent {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.3s ease-out 0s;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em 2em;
}

.socialIcons {
  margin: 0 1em;
}

.meContent.show {
  max-height: 5900px;
  transition: max-height 0.3s ease-in 0s;
}

--------- .meSection {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.contactMeContent {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.3s ease-in 0s;
  padding: 1em;
}

.CV {
  font-size: larger;
  font-weight: lighter;
  text-decoration: none;
  color: white;
  padding-bottom: 3em;
}

.CV:hover {
  transition: 0.3s ease-out 0s;
  color: #6225e6;
}

.contactMeContent.show {
  max-height: 5900px;
  transition: max-height 0.3s ease-in 0s;
}

---------- .projectsSection {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  overflow: hidden;
}

.projectsContent {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.3s ease-out 0s;

}

.project {
  padding: 1em;
}

.projectsContent.show {
  max-height: 3000px;
  transition: max-height 0.3s ease-in 0s;
}

------ .hobbiesSection {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.hobbiesContent {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.3s ease-out 0s;
}

.hobbiesContent.show {
  max-height: 500px;
  transition: max-height 0.3s ease-in 0s;
}

.sectionHeading:hover {
  color: rgb(98, 37, 230);
  font-weight: bold;
  transition: 0.3s ease-out 0s
}

.sectionHeading {
  display: flex;
  font-weight: lighter;
}

.scrl {
  animation: 4s ease-in-out 0s infinite normal none running pulse;
}

.arrow {
  animation: 1s ease-in-out 0s infinite normal none running pulse;
  font-size: 0.5em;
  padding-top: 17px;
  padding-left: 20px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.projectsContainer,
.meContainer,
.hobbiesContainer,
.contactMeContainer {
  display: flex;
  flex-direction: column;
  min-height: 100%;

}

.project {
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 480px) {
  .heroGif{}
}